<img alt="Colaboratory logo" width="15%" src="https://raw.githubusercontent.com/carlosfab/escola-data-science/master/img/novo_logo_bg_claro.png">

#### **Python do Zero**
*by [sigmoidal.ai](https://sigmoidal.ai)*

---

# Lidando com Dados Ausentes

Ao analisar nossos dados, é comum nos depararmos com dados ausentes. Por mais bem elaborado e executado que o plano de aquisição de dados seja, sempre vai estar sujeito ao erro humano, ou falhas de armazenamento, ou qualquer outro tipo de acontecimento que comprometa a qualidade dos dados.

<center><img width="45%" src="https://image.freepik.com/free-photo/hand-connecting-puzzle-pieces-table-background_1150-17552.jpg"></center>

Devido à sua recorrência, é necessário que saibamos como agir, e estejamos preparados para lidar com esse tipo de problema com bastante cautela.

É extremamente importante se atentar que qualquer tipo de mudança realizada por nós sobre os dados pode acarretar efeitos diversos sobre a qualidade dos dados, desde a melhora deles, como fizemos em aulas anteriores, mas aqui, ao lidar com dados ausentes, uma das opções é o preenchimento dessas entradas nulas com valores estatísticamente relevantes.

Qualquer mudança realizada sobre os dados cria um viés sobre os mesmos, o que pode ser prejudicial ao projeto, caso não seja feito de forma correta. Por isso atenção e cuidado.

## Os Dados

Utilizaremos mais de um conjunto de dados nesse projeto, mas o primeiro deles será sobre dados da violência no Rio De Janeiro.


<p align="center"><img src="https://image.freepik.com/free-vector/brazilian-carnival-concept-with-dancing-people-nature_1284-27444.jpg", width="50%"></p>


Esse conjunto de dados é interessante pois está organizado em números de crimes por mês, desde janeiro de 1991, mas alguns dos crimes só começaram a ser registrados algum tempo depois, como veremos abaixo.

In [21]:
# importando pandas
import pandas as pd

# importando os dados
df = pd.read_csv('https://raw.githubusercontent.com/carlosfab/curso_data_science_na_pratica/master/modulo_02/violencia_rio.csv', sep=',')

# verificando as primeiras entradas
df.head()

,vano,mes,hom_doloso,lesao_corp_morte,latrocinio,hom_por_interv_policial,tentat_hom,lesao_corp_dolosa,estupro,hom_culposo,...,pessoas_desaparecidas,encontro_cadaver,encontro_ossada,pol_militares_mortos_serv,pol_civis_mortos_serv,indicador_letalidade,indicador_roubo_rua,indicador_roubo_veic,registro_ocorrencias,fase
0,1991,1,657,NaN,15,NaN,162,3051,NaN,NaN,...,NaN,217,NaN,NaN,NaN,672,1348,1174,NaN,3
1,1991,2,732,NaN,17,NaN,175,3421,NaN,NaN,...,NaN,209,NaN,NaN,NaN,749,1395,1097,NaN,3
2,1991,3,713,NaN,25,NaN,216,3613,NaN,NaN,...,NaN,188,NaN,NaN,NaN,738,1385,1265,NaN,3
3,1991,4,634,NaN,20,NaN,200,3211,NaN,NaN,...,NaN,140,NaN,NaN,NaN,654,1540,1415,NaN,3
4,1991,5,650,NaN,20,NaN,146,3051,NaN,NaN,...,NaN,78,NaN,NaN,NaN,670,1266,1449,NaN,3

In [22]:
# verificando o final do dataset
df.tail()

,vano,mes,hom_doloso,lesao_corp_morte,latrocinio,hom_por_interv_policial,tentat_hom,lesao_corp_dolosa,estupro,hom_culposo,...,pessoas_desaparecidas,encontro_cadaver,encontro_ossada,pol_militares_mortos_serv,pol_civis_mortos_serv,indicador_letalidade,indicador_roubo_rua,indicador_roubo_veic,registro_ocorrencias,fase
339,2019,4,360,1.0,11,124.0,466,5573,483.0,172.0,...,408.0,22,3.0,1.0,0.0,496,11040,3755,67797.0,3
340,2019,5,345,2.0,15,172.0,478,4958,465.0,145.0,...,390.0,20,1.0,0.0,0.0,534,11384,3649,68336.0,3
341,2019,6,332,3.0,8,153.0,436,4769,414.0,152.0,...,403.0,20,1.0,3.0,0.0,496,9551,3115,61202.0,3
342,2019,7,309,5.0,10,194.0,399,4740,402.0,140.0,...,400.0,32,7.0,0.0,0.0,518,10071,3198,65817.0,2
343,2019,8,318,1.0,6,170.0,457,4760,460.0,156.0,...,367.0,27,8.0,2.0,0.0,495,9912,3181,65285.0,2

## Como lidar com Dados Ausentes

A resposta é: **Depende!**

Que tipo de dado está ausente? Em qual proporção? De forma aleatória? Todos esses são aspectos que precisamos levar em consideração ao tratar dados ausentes.

Tomando os dados do RJ como exemplo, vemos que temos algumas colunas com quase todos os dados ausentes, mas qual o motivo disso? De onde esses dados são extraídos e qual o processo de coleta deles? Dados ausentes implicam algum significado?

Nesse caso, nossa teoria mais predominante é que os dados não começaram a ser registrados até uma determinada data, e após isso, a coleta foi feita de forma efetiva.

In [23]:
df.shape[0]

344

In [24]:
df.isnull().sum()

vano                            0
mes                             0
hom_doloso                      0
lesao_corp_morte               96
latrocinio                      0
hom_por_interv_policial        84
tentat_hom                      0
lesao_corp_dolosa               0
estupro                       144
hom_culposo                    84
lesao_corp_culposa             96
roubo_comercio                  0
roubo_residencia                0
roubo_veiculo                   0
roubo_carga                     0
roubo_transeunte                0
roubo_em_coletivo               0
roubo_banco                     0
roubo_cx_eletronico           144
roubo_celular                 108
roubo_conducao_saque          144
roubo_apos_saque              144
roubo_bicicleta               276
outros_roubos                   0
total_roubos                    0
furto_veiculos                  0
furto_transeunte                0
furto_coletivo                144
furto_celular                 144
furto_bicicleta               276
outros_furtos                   0
total_furtos                    0
sequestro                      96
extorsao                      144
sequestro_relampago           144
estelionato                   144
apreensao_drogas                0
posse_drogas                  180
trafico_drogas                180
apreensao_drogas_sem_autor    180
recuperacao_veiculos            0
apf                           180
aaapai                        180
cmp                           180
cmba                          180
ameaca                         96
pessoas_desaparecidas         132
encontro_cadaver                0
encontro_ossada               132
pol_militares_mortos_serv     144
pol_civis_mortos_serv         144
indicador_letalidade            0
indicador_roubo_rua             0
indicador_roubo_veic            0
registro_ocorrencias           96
fase                            0
dtype: int64

In [25]:
df.head()

,vano,mes,hom_doloso,lesao_corp_morte,latrocinio,hom_por_interv_policial,tentat_hom,lesao_corp_dolosa,estupro,hom_culposo,...,pessoas_desaparecidas,encontro_cadaver,encontro_ossada,pol_militares_mortos_serv,pol_civis_mortos_serv,indicador_letalidade,indicador_roubo_rua,indicador_roubo_veic,registro_ocorrencias,fase
0,1991,1,657,NaN,15,NaN,162,3051,NaN,NaN,...,NaN,217,NaN,NaN,NaN,672,1348,1174,NaN,3
1,1991,2,732,NaN,17,NaN,175,3421,NaN,NaN,...,NaN,209,NaN,NaN,NaN,749,1395,1097,NaN,3
2,1991,3,713,NaN,25,NaN,216,3613,NaN,NaN,...,NaN,188,NaN,NaN,NaN,738,1385,1265,NaN,3
3,1991,4,634,NaN,20,NaN,200,3211,NaN,NaN,...,NaN,140,NaN,NaN,NaN,654,1540,1415,NaN,3
4,1991,5,650,NaN,20,NaN,146,3051,NaN,NaN,...,NaN,78,NaN,NaN,NaN,670,1266,1449,NaN,3

In [26]:
df.set_index('vano').isnull().sum(level=0)

TypeError: sum() got an unexpected keyword argument 'level'

## Tratando os Dados

No caso desse conjunto de dados específico, o ideal é analisar os dados apenas do período em que se tem dados. Especialmente em algumas variáveis onde o volume é muito grande, qualquer tipo de preenchimento poderia enviesar os dados de forma que a análise deixasse de ser relevante.

Para outros casos, podemos considerar as seguintes hipóteses:

* Excluir
  * Se os dados ausentes estão em pequeno número,ocorrem aleatoriamente, e a ausência não carrega significado, é melhor excluir a linha. No caso da coluna, se ainda for possível analisar alguma parte dela, use-a, como é o caso aqui. Mas para algumas situações, o ideal é excluir a coluna.

* Preencher
  * Preencher as entradas com dados ausentes com valores estatísticos como a média, mediana, moda ou zeros.
  * A média é mais útil quando a distribuição dos dados é normal. Em dados com distribuição mais enviesada (*skewed*), a mediana é uma solução mais robusta, pois ela é menos sensível a outliers.
  * Indetificar a entrada ausente com algum valor que indique isso pode ser mais informativo, quando a ausência representa valor. Por exemplo, em dados numéricos preencher com zero, e em categóricos criar uma categoria "Desconhecido". Atenção, pois os zeros não podem ser levados em consideração em análises estatísticas.

## Exemplo 2

No nosso segundo exemplo, faremos o tratamento dos dados ausentes retirados do portal Inside Airbnb referentes à cidade de Nova Iorque.

<center><img alt="New York City" width="50%" src="https://image.freepik.com/free-vector/future-metropolis-downtown-modern-city-business-center-cartoon-background_33099-1466.jpg"></center>

Esse conjunto de dados é bem completo, e possui apenas algumas linhas e colunas com dados ausentes, mas que são suficientes para nos ajudar em nossa análise.

In [27]:
# importando os dados
df_nyc = pd.read_csv('https://raw.githubusercontent.com/rafaelnduarte/eds_outliers/master/nyc.csv', index_col=0)

# verificando as dimensões
print('Dimensões do Dataset',
    '\nVariáveis: ',df_nyc.shape[1], "\n"
      'Entradas: ', df_nyc.shape[0])

# verificando as primeiras entradas
df_nyc.head()

Dimensões do Dataset
Variáveis:  16
Entradas:  49530

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2060,Modern NYC,2259,Jenny,Manhattan,Washington Heights,40.85722,-73.93790,Private room,100,1,1,2008-09-22,0.01,1,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,3,48,2019-11-04,0.37,2,335
2,3831,"Whole flr w/private bdrm, bath & kitchen(pls r...",4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,322,2020-06-07,4.64,1,276
3,5099,Large Cozy 1 BR Apartment In Midtown East,7322,Chris,Manhattan,Murray Hill,40.74767,-73.97500,Entire home/apt,200,3,78,2019-10-13,0.58,1,0
4,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,Private room,60,29,50,2019-12-02,0.37,1,365

In [28]:
# verificando dados ausentes
df_nyc.isnull().sum().sort_values(ascending=False)

last_review                       11319
reviews_per_month                 11319
name                                 18
host_name                             6
id                                    0
host_id                               0
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
calculated_host_listings_count        0
availability_365                      0
dtype: int64

Seguindo o que falamos anteriormente, colunas com grande quantidade de dados faltantes, caso não possuam informação extremamente relevante podem ser excluídas.

Em relação às outras entradas, estão em pouca quantidade, não parecem ter algum tipo de relação entre elas, e não parecem ter grande poder preditivo opu relevância para a análise. Mais uma vez, vamos fazer a exclusão. Porém, aqui vamos excluir as entradas.

In [29]:
# excluindo colunas com dados faltantes
df_nyc = df_nyc.drop(columns=['reviews_per_month', 'last_review'])

# excluindo entradas com dados faltantes
df_nyc = df_nyc.dropna(axis=0)

Também seria possível, caso fosse nosso desejo, preencher esses valores ausentes como mencionamos acima. A forma mais simples e direta de fazer isso seria com o método `fillna`.



```
# substituindo valores ausentes por zeros
df.fillna(0, inplace=True)

# substituindo valores ausentes com a média
df['coluna'] = df.fillna(df['coluna'].mean(), inplace=True)
```
Sempre importante estar atento aos tipos de dados com os quais estamos lidando, e escolher métodos que sejam condizentes com esse tipo. Por exemplo, não podemos usar a média para preencher strings.

In [30]:
# substituindo valores ausentes por zeros
df_nyc = df_nyc.fillna(0)

In [31]:
# ver valores ausentes
df_nyc.isnull().sum()

id                                0
name                              0
host_id                           0
host_name                         0
neighbourhood_group               0
neighbourhood                     0
latitude                          0
longitude                         0
room_type                         0
price                             0
minimum_nights                    0
number_of_reviews                 0
calculated_host_listings_count    0
availability_365                  0
dtype: int64

Voltndo ao exemplo dos dados de segurança pública...

In [32]:
# ver valores ausentes
df.isnull().sum()

vano                            0
mes                             0
hom_doloso                      0
lesao_corp_morte               96
latrocinio                      0
hom_por_interv_policial        84
tentat_hom                      0
lesao_corp_dolosa               0
estupro                       144
hom_culposo                    84
lesao_corp_culposa             96
roubo_comercio                  0
roubo_residencia                0
roubo_veiculo                   0
roubo_carga                     0
roubo_transeunte                0
roubo_em_coletivo               0
roubo_banco                     0
roubo_cx_eletronico           144
roubo_celular                 108
roubo_conducao_saque          144
roubo_apos_saque              144
roubo_bicicleta               276
outros_roubos                   0
total_roubos                    0
furto_veiculos                  0
furto_transeunte                0
furto_coletivo                144
furto_celular                 144
furto_bicicleta               276
outros_furtos                   0
total_furtos                    0
sequestro                      96
extorsao                      144
sequestro_relampago           144
estelionato                   144
apreensao_drogas                0
posse_drogas                  180
trafico_drogas                180
apreensao_drogas_sem_autor    180
recuperacao_veiculos            0
apf                           180
aaapai                        180
cmp                           180
cmba                          180
ameaca                         96
pessoas_desaparecidas         132
encontro_cadaver                0
encontro_ossada               132
pol_militares_mortos_serv     144
pol_civis_mortos_serv         144
indicador_letalidade            0
indicador_roubo_rua             0
indicador_roubo_veic            0
registro_ocorrencias           96
fase                            0
dtype: int64

In [33]:
df["roubo_celular"]

0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
        ...
339    2424.0
340    2427.0
341    2187.0
342    2226.0
343    2245.0
Name: roubo_celular, Length: 344, dtype: float64

In [34]:
# média dos roubos de celular
media_cel = df['roubo_celular'].mean()

# substituindo valores ausentes com a média
df['roubo_celular'] = df['roubo_celular'].fillna(media_cel)